header {
    background: #208208;
    border-bottom: 2px solid #124805;
    padding: 2%;
    margin: 0;
    text-align: center;
    font-size: 1.6em;

    a {
        text-decoration: none;

        h1 {
            color: #fff;
            font-family: 'Space Mono', monospace;
        }
    }

    p {
        color: #fff;
        width: 100%;
    }
}