footer {
    background: #208208;
    padding: 2%;
    margin: 0;

    p {
        width: 100%;
        text-align: center;
        color: #fff;

        a {
            color: #fff;
        }
    }

    p.right {
        text-align: right;
        color: #fff;

        a {
            text-decoration: none;
        }
    }
}