<h2>Kort om uppgiften</h2>
<p>I uppgiften ingår att skriva kort om uppgiften och arbetet med den, denna undersidan är till för att uppfylla det
    kravet.</p>

<p>Som vanligt upplever jag det lite rörigt att komma igång med nya sätt att arbeta på. Angular är inget undantag. Även
    om jag förstår vad andra uppskattar med Angular så upplever jag det personligt som väldigt rörigt att allt är
    splittrat i små komponenter och att det är svårt att få en övergripande bild av det hela.</p>

<p>Det är lite lustigt att Mattias i en av föreläsningarna säger att det här sättet att arbeta är mycket mer logiskt än
    en rörig Sass-struktur med undermappar, själv upplever jag det exakt tvärtom! Just när det kommer till Scss-biten är
    Angular lite av en huvudvärk. Jag lyckas inte få import av bakgrundsbild att funka och gav helt enkelt upp den
    biten, och för att kunna styla olika saker så att dom har samma bakgrundsfärg eller border så måste jag nu komma
    ihåg allt i huvudet eftersom jag inte får variablerna att funka så att dom går att använda inne i komponenterna.</p>

<p>Jag är såklart medveten om att det här rimligen är nybörjarfel och att det går att lösa, men jag väljer att lägga tid
    på det som rimligen är huvudfokuset för kursen istället. Dvs TypeScript.</p>

<p>Gällande själva TypeScript-delen så förstår jag poängen med Angular mycket bättre. Även om det såklart känns onödigt
    att jag upprepar vissa saker på flera ställen så förstår jag ändå poängen i att dela upp det på det här viset
    eftersom det blir tydligare vilken del av koden som är relevant för komponenten.</p>

<p>Något som jag däremot tycker är irriterande på riktigt med Angular är att jag behövde vaska min skiplink eftersom det
    krävdes någon sorts avancerad workaround som jag inte fick att fungera för att få den att sammarbeta. Det här är ett
    bra exempel på det som stör mig med ramverk, om poängen är att dom ska underlätta saker varför händer det då
    regelbundet att dom gör det <em>omöjligt</em> att göra vissa grejer som är jättenkla i grundläggande HTML? I just
    det här fallet, när det är en så enkel webbanvändbarhetsgrej och inkluderingsfråga som en skiplink blir det såklart
    extra irriterande.</p>

<p>Avslutningsvis var det ganska struligt att få angular-appen att fungera online, och jag har gett upp att få 404-sidan
    att fungera som den ska eftersom det här redan har tagit för mycket tid.</p>