//General settings such as border-box etc.
html {
    /*62.5% of 16px => 10px*/
    font-size: 62.5%;
    box-sizing: border-box;
}

//General layout of page.
//Background color.
body {
    background: #f1f1f1;
///    background: url("../images/background.jpg") repeat;
}

main {
    background: #f1f1f1;
    padding: 1%;
    border: 2px solid #208208;
}
